@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
.container {
  width: 940px;
  margin: auto;
}

.wraper {
  font-family: "Alegreya Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.hero {
  background: url("../img/hero.png") center top/cover no-repeat;
  min-height: 650px;
}
.hero-content {
  padding-top: 24px;
}
.hero__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 15px;
}
.hero__desc {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.menu__item {
  margin-right: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-family: "Alegreya Sans", sans-serif;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone__icon {
  width: 14px;
  height: 14px;
}
.phone__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  margin-left: 6px;
}

.hero-content-text {
  width: 578px;
  margin-top: 103px;
  font-family: "Alegreya Sans", sans-serif;
}

.btn {
  display: inline-block;
  background: #FEDB3F;
  padding: 21px 41px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-top: 39px;
  margin-bottom: 64px;
}
.btn-price {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages {
  color: #FFFFFF;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 33px;
  width: 142px;
}
.advantages__icon {
  margin-right: 15px;
  width: 35px;
}
.advantages__desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  text-align: center;
}
.section__title {
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  padding-top: 65px;
}
.section__desc {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 450px;
  margin-bottom: 49px;
}

.headline__title {
  padding-top: 107px;
  padding-bottom: 17px;
}

.excellence__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.excellence__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 279px;
  position: relative;
}
.excellence__item::before {
  content: url("../img/separator.png");
  position: absolute;
  padding-top: 50px;
  transform: translate(165%);
  width: 100px;
  height: 50px;
}
.excellence__item:last-child::before {
  display: none;
}
.excellence__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 20px;
}
.excellence__icon {
  background: #F2F5F4;
  width: 128px;
  height: 128px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.excellence__pic {
  padding: 30px 30px;
}
.excellence__des {
  margin-bottom: 114px;
}

.board {
  min-height: 642px;
  background: #F8FAF9;
}
.board-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 66px;
}
.board__peview {
  margin-right: 40px;
}
.board__desc {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
}
.board__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.board__ins {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.ins__lengs {
  margin-right: 55px;
}
.ins__specification {
  display: block;
  font-weight: bold;
}

.board__pic {
  background: url("../../img/bgboard.png") no-repeat;
  background-position: 10%;
}

.feature {
  margin-left: 80px;
}
.feature__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #3A587E;
  width: 91px;
  height: 91px;
  border-radius: 5px;
  margin-bottom: 52px;
}
.feature__options-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 7px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.price__board {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
}
.price__board::after {
  content: "₽";
}

.team {
  margin-bottom: 64px;
}
.team__content {
  display: flex;
  flex-direction: column;
}
.team__title {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
}
.team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team__item {
  list-style: none;
}
.team__user-name {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
  border: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
}

.user__list {
  list-style: none;
  font-family: Alegreya Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  width: 200px;
  overflow: hidden;
  height: 0;
}

.user__skils {
  font-weight: normal;
}

.user__desc {
  font-weight: 300;
}

.slider {
  background: url("../../img/bgslider.png");
  width: 100%;
  height: 652px;
}