//Ширина контейнера страницы
$containerWidth: 940px;

//Размер шрифта
$fontSize: 18px;
$fontFamily: 'Alegreya Sans', sans-serif;


//color
$black: #292929;
$gray: #666666;
$btnBlack: #000000;
$yellow: #FEDB3F;
$white: #FFFFFF;
$blue: #3465A3;
$bgIcon: #F2F5F4;
$bgSection: #F8FAF9;


//Контейнер
.container {
  width: $containerWidth;
  margin: auto;
}

.wraper {
font-family: $fontFamily;
}

.maincontent {

}

ul{
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
  padding: 0;
}